{% block head_include %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
{% endblock %}
{% extends "templates/base.html" %}

{% block content %}
<div class="container stats-page-container">
    {% if leaderboard_data|length > 0 %}
    <div class="mt-16">
        {% if samaaja_settings.leaderboard_page_title %}
        {{-frappe.render_template(samaaja_settings.leaderboard_page_title, {})-}}
        {% else %}
        <div class="section-sub-heading">Top active users!</div>
        {% endif %}
        <section class="leaderboard-table-container ">
            <table id="leaderboard-table">
                <thead>
                    <th>
                        Name
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Hours
                    </th>
                    <th>
                        Actions
                    </th>
                </thead>
                <tbody>
                    {% for ld in leaderboard_data %}
                    <tr>
                        <td>
                            {% if ld.user_image %}
                            <img src="{{ld.user_image}}" class="mr-2 leaderboard-profile-image" />
                            {% else %}
                            <img src="{{frappe.get_gravatar(ld.name)}}" class="mr-2 leaderboard-profile-image" />
                            {% endif %}
                            <span style="margin: auto 0;">
                                <a href="/users/{{ld.username}}" class="link-no-style">{{ld.first_name}}</a>
                            </span>
                        </td>
                        <td>
                            {% if ld.location %}
                            {{ld.location}}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {{ld.hours_invested|int}}
                        </td>
                        <td>
                            {{ld.total_actions}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </section>
    </div>
    {% endif %}


    {% if top_cities|length > 0 %}
    <div class="mt-20">
        {% if samaaja_settings.top_cities_title %}
        {{-frappe.render_template(samaaja_settings.top_cities_title, {})-}}
        {% else %}
        <div class="section-sub-heading">Top 10 cities with Check-Ins over the last 60 days</div>
        {% endif %}
        {% set bar_width = 80 %}

        <section class="mt-5">

            {% for top_city in top_cities %}

            {% if loop.index > 1 %}
            {% set bar_width = (top_city.count / first_city_action_count) * bar_width %}
            {% if bar_width < 1 %} {% set bar_width=1 %} {% endif %} {% endif %} <div class="row">
                <div class="col-md-2">
                    <b class="bar-city-name">{{top_city.city}}</b>
                </div>
                <div class="col-md-10">
                    <div class="row mt-2">
                        <div class="bar" style="width:{{bar_width}}% !important;">
                        </div>
                        <div class="ml-2">
                            {{top_city.count}}
                        </div>
                    </div>
                </div>
    </div>
    {% endfor %}
    </section>
</div>
{% endif %}

<div class="mt-20">
    {% if samaaja_settings.recent_actions_title %}
    {{-frappe.render_template(samaaja_settings.recent_actions_title, {})-}}
    {% else %}
    <div class="section-sub-heading">Recent Checkins!</div>
    {% endif %}

    <section class="mt-5">
        <div class="row">
            {% for recent_action in recent_actions_with_images %}
            <div>
                <div class="common-card-style recent-action-card">
                    <a href="{{recent_action.image}}">
                        <img src="{{recent_action.image}}" class="recent-action-image">
                    </a>
                    <div class="recent-action-footer">
                        <div class="mb-1">
                            {% if recent_action.city %}
                            <img src="/assets/samaaja/icons/location-sign.svg" style="width:.8rem">
                            {{recent_action.city}}
                            {% elif recent_action.district %}
                            <img src="/assets/samaaja/icons/location-sign.svg" style="width:.8rem">
                            {{recent_action.district}}
                            {% endif %}
                        </div>
                        <div>
                            <span class="small mb-2">
                                {{frappe.utils.pretty_date(recent_action.creation)}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="mt-5">
        <div id="stats-map" class="row mb-20">
    </section>
</div>
</div>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script>

    const screenWidth = window.screen.width;

    let mapZoom = 5.4
    if (screenWidth < 700) {
        // Change zoom for smaller screens.
        mapZoom = 4
    }

    // Start point of map is India
    var map = L.map('stats-map').setView([22.1458, 80.0882], mapZoom);
    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution:
            '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    }).addTo(map);

    {% for map_point in map_points %}
    L.marker([
        {{ map_point.latitude }},
        {{ map_point.longitude }}
    ]).addTo(map).bindPopup(
        `{{map_point.description}}`
    )
    {% endfor %}
</script>

{% endblock %}