:root {
  --text-3-5xl: 24px;
  --text-3-8xl: 34px;
  --text-4xl: 36px;
  --text-base: 14px;
  --bg-color: var(--gray-50);
}

.profile-page {
  background-color: var(--bg-color);
}

.profile-banner {
  height: 248px;
  background-size: cover;
  background-position: center;
}

.about-section-mini {
  width: 200px;
  height: 200px;
}

.action-section {
  padding: 1.25rem;
  height: 100%;
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-base);
}

.profile-info {
  max-height: max-content;
  min-height: 140px;
  background: #ffffff;
  border-radius: 0px 0px 8px 8px;
  font-size: var(--text-sm);
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6rem;
  padding-left: 252px;
  padding-right: 1rem;
  padding-bottom: 7px;
  box-shadow: var(--shadow-sm);
  position: relative;
  .profile-dropdown {
    position: absolute;
    right: 18px;
    top: 18px;
    .dropdown-toggle:after {
      // hide dropdown arrow
      display: none !important;
    }
  }
  .profile-name-section {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0.5rem 0 0.25rem;
  }
  .profile-name {
    color: var(--gray-900);
    font-weight: 900;
    font-size: 27px;
  }
}

.profile-avatar {
  z-index: 1;
  position: relative;
  top: 188px;
  left: 40px;
  width: fit-content;
}

@media (max-width: 767px) {
  .profile-avatar {
    z-index: 1;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .profile-info {
    position: relative;
    padding: 0;
    padding-top: 165px;
    .profile-name-section {
      display: flex;
      align-items: center;
      margin: 1rem 0 0.25rem;
      flex-direction: column;
    }
  }
  .profile-dropdown {
    position: absolute;
    right: 0;
  }
  .profile-meta {
    padding: 18px;
  }
}

.badge-container {
  text-align: center;
  .badge {
    margin: 0 !important;
    .badge-image {
      width: 100px;
    }
    .badge-title {
      white-space: nowrap;
      font-size: 13px;
      margin-top: 7px;
    }
  }
}

.avatar-circle {
  width: 190px;
  height: 190px;
}

.avatar-circle .avatar-frame {
  border-radius: 120px;
}

.avatar-medium {
  width: 42px;
  height: 42px;
}

.avatar-large {
  width: 68px;
  height: 68px;
}

.avatar-xl {
  width: 112px;
  height: 112px;
}

@media (max-width: 500px) {
  .avatar-circle {
    width: 165px;
    height: 165px;
  }
  .profile-info {
    padding-top: 95px;
  }
}

.common-card-style {
  display: flex;
  background: #ffffff;
  border-radius: var(--border-radius-md);
  position: relative;
  box-shadow: var(--shadow-base);
}

.column-card {
  flex-direction: column;
  padding: 1.25rem;
  height: 100%;
}

.profile-tab-heading {
  font-weight: 900;
  font-size: 22px;
  letter-spacing: -0.0175em;
  color: var(--gray-900);
  margin-bottom: 0.4rem;

  .samaaja-action-meta {
    font-size: 52%;
  }
  .profile-tab-heading:hover {
    color: var(--gray-900);
    text-decoration: none;
  }
}

.action-heading {
  margin: 0;
  letter-spacing: -0.0175em;
  color: var(--gray-900);
}

.badge-section-heading {
  font-weight: 800;
  font-size: var(--text-3-5xl);
  letter-spacing: -0.0175em;
  color: var(--gray-900);
}

.action-image {
  width: 45%;
}

@media (max-width: 500px) {
  .action-image {
    width: 100%;
    margin-bottom: 5px;
  }
}

.profile-tab-description {
  font-size: 0.875rem;
  color: var(--gray-800);
  margin-bottom: 10px;
  white-space: pre-line;
  .action-title {
    font-weight: 700;
    color: var(--gray-800);
    font-size: 18px;
  }
  .action-description {
    margin: 5px 10px 5px 10px;
  }
}

.samaaja-nav {
  background-color: var(--bg-color);
}

.profile-meta {
  font-size: var(--text-base);
  color: var(--gray-900);
  .profile-headline {
    font-size: 15px;
    white-space: pre-wrap;
    padding-bottom: 5px;
  }
}

.user-location {
  font-size: 90%;
}

.profile-badge {
  background: #48bb74;
  padding: 4px 6px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.011em;
  text-transform: uppercase;
  height: fit-content;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 16%);
  border-radius: var(--border-radius-sm);
  margin-left: 0.5rem;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #e3e3e3;
  border-radius: 50px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border: 1px solid #e3e3e3;
  border-radius: 50px;
}

div.profile-page {
  font-family: 'Inter', sans-serif;
}

.link-no-style {
  text-decoration: none; /* remove underline */
  color: inherit; /* remove blue */
}

.stats-page-container {
  // Scrollbar settings
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(82, 167, 105, 0.9);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(82, 167, 105, 0.9);
  }

  font-family: 'Inter', sans-serif;

  .section-sub-heading {
    font-weight: 900;
    font-size: 1.9rem;
    color: #202124;
    line-height: 40px;
  }

  #leaderboard-table {
    border-collapse: separate !important;
    width: 100%;
  }

  table#leaderboard-table {
    // border: 1px solid #e3e3e3;

    border-spacing: 0;

    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-base);
  }

  section {
    max-width: 1180px;
    margin: 0 auto;
  }

  .leaderboard-table-container {
    overflow-x: hidden;
    overflow-y: auto;
    height: max-content;
    max-height: 800px;
  }

  #leaderboard-table td,
  #leaderboard-table th {
    padding: 8px;
    border-bottom: 1px solid #e3e3e3;
  }

  #leaderboard-table tr:nth-child(even) {
    background-color: rgba(82, 167, 105, 0.1);
  }

  table#leaderboard-table tr:last-child > td {
    border-bottom: none;
  }

  #leaderboard-table tr:hover {
    background-color: #ddd;
  }

  #leaderboard-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fff;
  }

  .leaderboard-profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 5px;
  }

  .bar {
    background-color: rgba(82, 167, 105, 0.9);
    height: 10px;
    border-radius: 5px;
    margin-top: 6px;
  }

  .bar-city-name {
    font-size: 1.5rem;
  }

  .recent-action-card {
    flex-direction: column;
    overflow: auto;
    margin: 0.5rem;
  }

  .recent-action-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .recent-action-footer {
    padding: 0.5rem;
    min-height: 63px;
    .location-icon {
      width: 0.8rem;
      position: relative;
      bottom: 2px;
    }
  }

  #stats-map {
    width: 100%;
    height: 800px;
    margin: 0;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-base);
  }

  .first-section {
    margin-top: 4rem;
  }

  .recent-actions-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @media only screen and (max-width: 600px) {
    .leaderboard-profile-image {
      width: 50px;
      height: 50px;
    }

    #stats-map {
      width: 100%;
      height: 600px !important;
      margin: 0;
    }
    .recent-action-card {
      width: 170px;
    }
    .bar {
      margin-left: 15px;
    }
    .first-section {
      margin-top: 30px !important;
    }
  }

  @media only screen and (max-width: 420px) {
    .recent-action-card {
      width: 150px;
    }
    .stats-page-container.leaderboard-profile-image {
      width: 42px;
      height: 42px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .container.stats-page-container {
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
  }
  .stats-page-container .bar-city-name {
    font-size: 1.1rem;
  }
  .container.container-profile {
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
  }
}
